.breadcrumb {
  margin-top: 5px;
  a {
    color: white;
  }
}

.content {
  padding-top: 15px;
}

.areaForm {
  padding: 15px;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}




